{% extends "app/base.html" %}

{% block container %}

<h1 style="text-align: center;">&#127860; {{recipe}}
    <hr>
</h1>

<a href="{% url 'recipes' %}" class="contrast outline" role="button" >&lt; Go back</a>



<article>
    <header>{{recipe.requirements}}</header>
    {{recipe.instruction}}
    <footer>
        <p>
            &#128345; {{recipe.prep_time}} minutes &nbsp; &nbsp;  &#128181; {{recipe.price}} zł
        </p>
            &#128197; Published: {{recipe.publish_date}}
        </footer>
</article>

{% if recipe.image %}
    <img src="{{recipe.image.url}}" 
    style=
    "display: block;
     width: 80%; 
     margin-left: auto; 
     margin-right: auto;
     border-radius: 8px;
     border: 2px solid #9E9D9D;">

{% else %}
    <img src="static/images/noimage.jpg" style="float: center;">
{% endif %}
<p></p>
<hr>

{% endblock container %}