{% extends "app/base.html" %}

{% block container %}

<a href="{% url 'recipe-create' %}">
    <button class="secondary" >&#43; ADD RECIPE</button>
</a> 

<hr>

<div class="grid">
<form method="GET">
    <label for="search">Search by name or tag</label>
    {% if not search_input %}
        <input type="search" name="search">
    {% else %}
        <input type="search" name="search" value="{{search_input}}">
        {% endif %}
    <input type="submit" value="Search">
</form> 

<form method="GET">
    <label for="search">≡ Sort by category</label>
    <select name="choose-category" id="categories">
        {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>
</div>



<a href="{% url 'recipes' %}">&#x21bb; Reset</a>
<table>
    <try>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
    {% for recipe in recipes %}
        <td><a href="{% url 'recipe' recipe.id %}" style="color: inherit; font-size: 20px;">{{recipe}}</a></td></td>
        {% if recipe.image %}
            <td><a href="{% url 'recipe' recipe.id%}"><img src="{{recipe.image.url}}" width="160" height="100" style="border-radius: 10%; opacity: 0.9;"></td></a>
        {% else %}
            <td><a href="{% url 'recipe' recipe.id%}"><img src="static/images/noimage.jpg" width="160" height="100" style="border-radius: 10%; opacity: 0.9;"></td></a>
        {% endif %}
        {% comment %} <td><a href="{% url 'recipe' recipe.id %}">Recipe</a></td> {% endcomment %}
        <td><a href="{% url 'recipe-update' recipe.id %}" style="color: white;">&#9998;</a></td>
        <td><a href="{% url 'recipe-delete' recipe.id %}" style="color: #ff4d4d;">&#10005;</a></td>
    </tr>
    {% empty %}
            <p>No recipes found</p>
    {% endfor %}
</table>



<div class="pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}

            {% if search_input %}
                <a href="?search={{search_input}}&page=1">&laquo; first</a>
                <a href="?search={{search_input}}&page={{ page_obj.previous_page_number }}">previous</a>
            {% elif choose_category %}
                <a href="?choose-category={{choose_category}}&page=1">&laquo; first</a>
                <a href="?choose-category={{choose_category}}&page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            {% if search_input %}
                <a href="?search={{search_input}}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?search={{search_input}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% elif choose_category %}
                <a href="?choose-category={{choose_category}}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?choose-category={{choose_category}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>

{% endblock container %}