{% extends "app/base.html" %}

{% block container %}

<h1 style="text-align: center;">{{recipe}}
    <hr>
</h1>

<a href="{% url 'recipes' %}" class="contrast outline" role="button" style="margin-bottom: 35px;">&lt; Go back</a>

<hr>
<p>Dish: {{recipe.name}}, ({{recipe.category}})</p>
<hr>
<p>{{recipe.description}}</p>
<hr>
<p>Added: {{recipe.requirements}}</p>
<hr>
<p>How to prepare: <p>{{recipe.instruction}}</p></p>
<hr>
<p>&#xFF04; Estimated price: {{recipe.price}} zl</p>
<hr>
<p>Prep time: {{recipe.prep_time}} minutes</p>
<hr>
<p>Added: {{recipe.publish_date}}</p>
{% if recipe.image %}
    <img src="{{recipe.image.url}}" width="250" height="200">
{% endif %}

<article>
    <header>{{recipe.name}}, {{recipe.category}}</header>
    Body
    <footer>Footer</footer>
</article>

{% endblock container %}