<p><a href="{% url 'recipes' %}">All recipes</a></p>
<a href="{% url 'recipe-create' %}">Add new recipe</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form> 

<form method="GET">
    <label for="categories">What do we eat now?</label>
    <select name="choose-category" id="categories">
        {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>
<table>
    <try>
        <th>Dish</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
    {% for recipe in recipes %}
        <td>{{recipe}}</td>
        <td><a href="{% url 'recipe' recipe.id %}">Recipe</a></td>
        <td><a href="{% url 'recipe-update' recipe.id %}">Update</a></td>
        <td><a href="{% url 'recipe-delete' recipe.id %}">Delete</a></td>
    </tr>
    {% empty %}
            <p>No recipes found</p>
    {% endfor %}
</table>
<hr>

